 @import url('https://fonts.googleapis.com/css2?family=Poppins&family=Zen+Dots&display=swap');
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: 'Oswald', sans-serif;
     font-weight: normal;
 }
 
 :root {
     --main-color: #FF9A00;
     --text-color: #9e9c9c;
 }
 
 html::-webkit-scrollbar {
     width: 6px;
 }
 
 html::-webkit-scrollbar-track {
     background: transparent;
 }
 
 html::-webkit-scrollbar-thumb {
     background: var(--main-color);
 }
 /* Hero Section */
 
 .hero {
     width: 100%;
     height: 100vh;
     object-fit: cover;
 }
 
 .carousel-heading {
     text-align: center;
     font-weight: 600;
     color: var(--main-color);
     padding-bottom: 50px;
 }